.first h3{
    font-size: 23px;
    line-height: 20px;
    padding-bottom: 10px;
    font-weight: 400;
}
.first h2{
    font-size: 47px;
    line-height: 59px;
    padding-bottom: 18px;
    font-weight: 500;
}
.first p{
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 10px;
    font-weight: 400;
}
.timer{
    align-items: center;
    justify-content: center;
}
.timing{
    margin: 5px;
}
.time{
    width: 100%;
    height: 100%;
    padding: 10px 10px 18px;
    border-radius: 10px;
}
.timing p{
    font-size: 48px;
    line-height: normal;
    color: #fff;
    text-align: center;
    display: block;
    padding-bottom: 3px;
    font-weight: 500;
}
.timing h6{
    font-size: 18px;
    color: #fff;
    text-align: center;
    display: block;
    font-weight: 500;
}
.data{
    width: 100%;
    max-width: 234px;
    padding: 0 0 29px 7px;
}
.data h5{
    font-size: 16px;
    line-height: normal;
    color: #fff;
    padding-bottom: 10px;
    font-weight: 500;
}
.data h6{
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
}
.bgfeature{
   background-image: url(/public/images/choose-cryptu.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   overflow: hidden;  
}
@media only screen and (min-width:200px) and (max-width:767px){
    .first h2{
        font-size: 33px;
        line-height: 38px;
    }
    .timing p{
        font-size: 36px;
    }
    .first p{
        font-size:15px;   
    }
    .timer{
        width: 100%;
    }
}