
.poster{
    background-image: url(/public/images/choose-cryptu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 0;
    overflow: hidden;
    text-align: center;
}
.poster h1{
    font-size: 48px;
    line-height: 60px;
    font-weight: 500;
    color: #fff;
}
.poster p{
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    padding: 20px;
}
.map{
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 40px 5px rgb(0 0 0/7%);
    margin-bottom: 100px;
}
.bgContact{
    background-image: url(/public/images/map.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}
.firstOne h3{
    color: #430000;
    font-size: 24px;
    line-height: normal;
    padding-bottom: 6px;
    font-weight: 400;
}
.firstOne h2{
    color: #222;
    font-size: 48px;
    line-height: normal;
    padding-bottom: 22px;
    font-weight: 500;
}
.firstOne p{
    color: #777;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 14px;
    font-weight: 400;
}
.firstOne h5{
    background: #9B0000;
    width: 47px;
    height: 47px;
    line-height: 47px;
    overflow: hidden;
    color: #fff;
    font-size: 19px;
    text-align: center;
    border-radius: 50%;
    float: left;
   font-weight: bold;
   padding-left: 12px;
   padding-top: 12px;
}
.firstOne h6{
    color: #777;
    font-size: 18px;
    line-height: 28px;
    padding: 6px 0 0 20px;
    font-weight: bold;
    float: left;
}

.contactinput{
    background: #fff;
    width: 100%;
    height: 58px;
    font-size: 18px;
    color: #999;
    border: 2px solid transparent;
    outline: none;
    padding: 0 22px;
    resize: none;
    font-family: quicksand,sans-serif;
    font-weight: 400;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px;
}
.contacttextarea{
    background: #fff;
    width: 100%;
    height: 200px;
    font-size: 18px;
    color: #999;
    border: 2px solid transparent;
    outline: none;
    padding: 0 22px;
    resize: none;
    font-family: quicksand,sans-serif;
    font-weight: 400;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px; 
    }


@media only screen and (min-width:200px) and (max-width:767px){
 .firstOne h2{
    font-size: 35px;
 } 
 .secondOne{
    padding-top: 40px;
    
 }
}
