.bgtpartner{
    background-image: url(/public/images/choose-cryptu.jpg);
}
.partner-heading-1{
    font-size: 23px;
    line-height: 20px;
    padding-bottom: 11px;
    font-weight: 400;
   }
   .partner-heading-2{
    font-size: 47px;
    line-height: 59px;
    padding-bottom: 22px;
    font-weight: 500;
   }
   .icons div{
   margin-bottom: 50px;
   color: #f5a6a4;
   }
   .icons img{
    width: 100px;
    height: 40px;
   }
  
   @media only screen and (min-width:200px) and (max-width:767px){
    .partner-heading-2{
        font-size: 25px;
    }
   }